
         /*---------------AJUSTE DE RESOLUCION PARA MOBILE--------------------*/
  
     @media screen and (min-width: 320px) {
    .body-index {
        width: 100vw;
        background-image: url('../Pre-proyecto-final/media/tienda.jpg');
        background-size: center;
    }
    .header-paginas{
        width: 100vw;
        display: grid;
        grid-template-areas: 
          "logo"
          "encabezado"
          "nav"
        ;
        grid-gap: 3px;
    }
    .encabezado {
        width: 100vw;
        grid-area: encabezado;
        display: flex;
        justify-content: center;
        color: coral;
       font-family: 'Times New Roman', Times, serif;
       font-weight: 300;
       font-style: unset;
       text-shadow: 5px 5px 4px burlywood;
       padding-bottom: 15px;
    }
    
    .logo {
        width: 100vw;
        grid-area: logo;
        display: flex;
        justify-content: center;
    }
    .logo img{
        width: 300px;
        height: 100px;
    }
    .tam-img {
       width: 40px;
       height: 40px;
    }
    .nav-index{
        width: 100vw;
      grid-area: nav;
      border-radius: 15px;
    }
    
    .enlaces {
       text-decoration: none;
    } 
                       
                              /*======SECTOR MAIN======*/

main div {
    height: 350px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.formato-imagen {
    width: 300PX;
    height: 300PX;
    border-radius: 15px;
}

main .col .texto-index {
      color: aliceblue;
      position: absolute;
    
}
              /*=========== SECCION FOOTER ===============*/

footer {
    display: flex;
    justify-content: center;
}
.pie-de-pagina {
    width: 210PX;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    list-style: none;
}

.contactos {
 width: 30px;
 height: 30px;
 padding: 0px 4px;
 background-color: aliceblue;
 border-radius: 5px;
}
.pie-de-pagina li h3 {
   font-size: 15px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(213, 209, 209);
   position: relative;
   bottom: 5px;

}

               /* -----SECCION CALZADOS-----*/

.body-calzados {
    background-image: url('../Pre-proyecto-final/media/portada-calzados.jpg');
    background-size: cover;
}
main .seccion-calzados {
    font-family: 'Courier New', Courier, monospace;
    color: maroon;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.seccion-calzados h2{
    font-size: 40px;
    font-weight: 300;
}

main .col .texto-calzados {
    color: aliceblue;
    position: absolute;
   }
  
                /*-----SECCION ABRIGOS-----*/

.body-Abrigos {
    background-image: url('../Pre-proyecto-final/media/portada-abrigos.jpg');
    background-size: cover;
}
.seccion-abrigos {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(203, 214, 224);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.seccion-abrigos h2{
    font-size: 40px;
    font-weight: 300;
}
main .col .texto-abrigos {
    color: aliceblue;
    position: absolute;
  
  }
  
               /*-----SECCION PANTALONES-----*/

.body-jeans {
    background-image: url('../Pre-proyecto-final/media/portada-pantalones.jpg');
    background-size: cover;
  }  
  main .seccion-jeans {
     font-family: 'Courier New', Courier, monospace;
     color: rgb(207, 213, 161);
     display: flex;
     justify-content: center;
     align-items: flex-start;
 }
 .seccion-jeans h2{
     font-size: 40px;
     font-weight: 300;
 }
 main .col .texto-pantalones {
     color: burlywood;
     position: absolute;
  }

              /*-----SECCION REMERAS-----*/
             
.body-remeras {
    background-image: url('../Pre-proyecto-final/media/led.jpg');
    background-size: cover;
}  
main .seccion-remeras {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(233, 52, 52);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.seccion-remeras h2{
    font-size: 40px;
    font-weight: 300;
}
main .col .texto-remeras {
    color: whitesmoke;
    position: absolute;
  }
  
      /*------SECCION CORREO------*/
     
      .body-correo {
        width: 100vw;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../segunda-entrega-final/media/mailbox-g523efffa6_1920.jpg);
        }
      .titulo-consulta {
        display: flex;
        justify-content: center;
        padding: 5px 0px;
        font-size: 40px;
        color: #9cf1ff;
        }    
                       
      .body-correo .container {
        width: 310px;
        height: 530px;
        margin-top: 100px;
        background-image: radial-gradient(circle at 76.81% 107.48%, #9f4ff4 0, #7944f3 25%, #3c3cf2 50%, #0037f1 75%, #0034ef 100%);
        border-radius: 15px;
        font-size: 18px;
        padding: 30px;
        box-shadow: 7px 13px 37px #000;
        }
      .nombre {
        font-size: 19px;
        border-color: #9df2f2;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #0037f1;
        border-radius: 10px;
        }
      .apellido {
        font-size: 19px;
        border-color: #9df2f2;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #0037f1;
        border-radius: 10px;
        }
      .correo {
        font-size: 19px;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        border-color: #9df2f2;
        background-color: #0037f1;
        box-sizing: border-box;
        }
      .mensaje {
        width: 100%;
        font-size: 21px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
        border-color: #9df2f2;
        background-color: #0037f1;
        height: 250px;
        } 
      .botones-correo{ 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
       }

     }


         /*---------------AJUSTE DE RESOLUCION PARA TABLET--------------------*/

     @media screen and (min-width: 720px) {
    
            .body-index {
                width: 100vw;
                background-image: url('../Pre-proyecto-final/media/tienda.jpg');
                background-size: center;
            }
            .header-paginas{
                width: 100vw;
                display: grid;
                grid-template-areas: 
                  "logo"
                  "encabezado"
                  "nav"
                ;
                grid-gap: 3px;
            }
            .encabezado {
                width: 100vw;
                grid-area: encabezado;
                display: flex;
                justify-content: center;
                color: coral;
               font-family: 'Times New Roman', Times, serif;
               font-weight: 300;
               font-style: unset;
               text-shadow: 5px 5px 4px burlywood;
               padding-bottom: 15px;
            }
            
            .logo {
                width: 100vw;
                grid-area: logo;
                display: flex;
                justify-content: center;
            }
            .logo img{
                width: 700px;
                height: 200px;
            }
            .tam-img {
               width: 40px;
               height: 40px;
            }
            .nav-index{
                width: 98vw;
              grid-area: nav;
              border-radius: 15px;
            }
            
            .enlaces {
                text-decoration: none;
            } 
                               
                                      /*======SECTOR MAIN======*/
        
        main div {
            height: 450px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
           
        }
        .formato-imagen {
            width: 400PX;
            height: 400PX;
            border-radius: 15px;
        }
        
        main .col .texto-index {
              color: aliceblue;
              position: absolute;
            
        }
                      /*============ SECCION FOOTER ===============*/
        
        footer {
            display: flex;
            justify-content: center;
        }
        .pie-de-pagina {
            width: 400PX;
            display: flex;
            flex-direction: row;
            justify-content: center;
            box-sizing: border-box;
            list-style: none;
        }
        
        .contactos {
         width: 40px;
         height: 40px;
         padding: 0px 4px;
         background-color: aliceblue;
         border-radius: 5px;
         transition: all .4s ease-in-out;
        }
        .pie-de-pagina li h3 {
           font-size: 25px;
           color: white;
           position: relative;
           top: 10px;
        }
        
                       /* -----SECCION CALZADOS-----*/
        
        .body-calzados {
            background-image: url('../Pre-proyecto-final/media/portada-calzados.jpg');
            background-size: cover;
        }
        main .seccion-calzados {
            font-family: 'Courier New', Courier, monospace;
            color: maroon;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        .seccion-calzados h2{
            font-size: 40px;
            font-weight: 400;
        }
        
        main .col .texto-calzados {
            color: aliceblue;
            position: absolute;
           }
          
                        /*-----SECCION ABRIGOS-----*/
        
        .body-Abrigos {
            background-image: url('../Pre-proyecto-final/media/portada-abrigos.jpg');
            background-size: cover;
        }
        .seccion-abrigos {
            font-family: 'Courier New', Courier, monospace;
            color: rgb(203, 214, 224);
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        .seccion-abrigos h2{
            font-size: 40px;
            font-weight: 400;
        }
        main .col .texto-abrigos {
            color: aliceblue;
            position: absolute;
          
          }
          
                       /*-----SECCION PANTALONES-----*/
        
        .body-jeans {
            background-image: url('../Pre-proyecto-final/media/portada-pantalones.jpg');
            background-size: cover;
          }  
          main .seccion-jeans {
             font-family: 'Courier New', Courier, monospace;
             color: rgb(207, 213, 161);
             display: flex;
             justify-content: center;
             align-items: flex-start;
         }
         .seccion-jeans h2{
             font-size: 40px;
             font-weight: 400;
         }
         main .col .texto-pantalones {
             color: burlywood;
             position: absolute;
          }
        
                      /*-----SECCION REMERAS-----*/
                     
        .body-remeras {
            background-image: url('../Pre-proyecto-final/media/led.jpg');
            background-size: cover;
        }  
        main .seccion-remeras {
            font-family: 'Courier New', Courier, monospace;
            color: rgb(233, 52, 52);
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        .seccion-remeras h2{
            font-size: 40px;
            font-weight: 400;
        }
        main .col .texto-remeras {
            color: whitesmoke;
            position: absolute;
          }
          
                     /*------SECCION CORREO------*/
             
                     .body-correo {
                         width: 100vw;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-image: url(../segunda-entrega-final/media/mailbox-g523efffa6_1920.jpg);
                    }
                    .titulo-consulta {
                        display: flex;
                        justify-content: center;
                        padding: 5px 0px;
                        font-size: 40px;
                        color: #9cf1ff;
                    }    
                               
                    .body-correo .container {
                        width: 600px;
                        height: 500px;
                        margin-top: 100px;
                        background-image: radial-gradient(circle at 76.81% 107.48%, #9f4ff4 0, #7944f3 25%, #3c3cf2 50%, #0037f1 75%, #0034ef 100%);
                        border-radius: 15px;
                        font-size: 18px;
                        padding: 30px;
                        box-shadow: 7px 13px 37px #000;
                    }
                    .nombre {
                        width: 25vw;
                        font-size: 20px;
                        border-color: #9df2f2;
                        font-family: Arial, Helvetica, sans-serif;
                        background-color: #0037f1;
                        border-radius: 10px;
                    }
                    .apellido {
                        width: 25vw;
                        font-size: 20px;
                        border-color: #9df2f2;
                        font-family: Arial, Helvetica, sans-serif;
                        background-color: #0037f1;
                        border-radius: 10px;
                    }
                    .correo {
                        width: 50.5vw;
                        font-size: 20px;
                        border-radius: 10px;
                        font-family: Arial, Helvetica, sans-serif;
                        border-color: #9df2f2;
                        background-color: #0037f1;
                        box-sizing: border-box;
                    }
                    .mensaje {
                        width: 50vw;
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        border-radius: 10px;
                        border-color: #9df2f2;
                        background-color: #0037f1;
                        height: 250px;
                    } 
                    .botones-correo{ 
                        display: flex;
                      flex-direction: column;
                      justify-content: space-around;
                     }
        
     }
        
          /*--------------------AJUSTE DE RESOLUCION PARA PC/LAPTOP------------------*/

     @media screen and (min-width: 1024px) {

.body-index {
    width: 100vw;
    background-image: url('../Pre-proyecto-final/media/tienda.jpg');
    background-size: center;
}
.header-paginas{
    width: 100vw;
    display: grid;
    grid-template-areas: 
      "logo"
      "encabezado"
      "nav"
    ;
}
.encabezado {
    width: 100vw;
    grid-area: encabezado;
    display: flex;
    justify-content: center;
    color: coral;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 1200;
   font-style: unset;
   text-shadow: 5px 5px 4px burlywood;
   padding-bottom: 20px;
}

.logo {
    width: 100vw;
    grid-area: logo;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 1020px;
    height: 230px;
}
.tam-img {
   width: 40px;
   height: 40px;
}
.nav-index{
    width: 98vw;
  grid-area: nav;
  border-radius: 15px;
}

.enlaces {
    text-decoration: none;
}
                   
                              /*======SECTOR MAIN======*/

 main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main div {
    height: 450px;
    border-radius: 15px;
    
    cursor: pointer;
}
.formato-imagen {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    border-radius: 15px;
}

main .col .texto-index {
    display: flex;
    justify-content: center;
    width: 450px;
    background: rgba(126, 214, 151, 0.5);
    box-shadow: 6px 5px 5px rgba(227, 167, 167, 0.4);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    position: absolute;

}
main .col:hover > .texto-index {
    opacity: 1;
    visibility: visible;
}
main .col .texto-index h2 {
    color: azure;
    font-size: 40px;
    display: flex;
    align-items: center;
}
   
              /*================ SECCION FOOTER ================*/

footer {
    display: flex;
    justify-content: center;
}
.pie-de-pagina {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    list-style: none;
}

.contactos {
 width: 50px;
 height: 50px;
 padding: 0px 7px;
 background-color: aliceblue;
 border-radius: 5px;
 transition: all .4s ease-in-out;
}
.pie-de-pagina li h3 {
   font-size: 30px;
   color: white;
   position: relative;
   top: 15px;
} 
.contactos:hover {
    transform: scale(1.3);
     }

               /* -----SECCION CALZADOS-----*/

.body-calzados {
    background-image: url('../Pre-proyecto-final/media/portada-calzados.jpg');
    background-size: cover;
}
main .seccion-calzados {
    font-family: 'Courier New', Courier, monospace;
    color: maroon;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.seccion-calzados h2{
    font-size: 40px;
    font-weight: 400;
}

main .col .texto-calzados {
    display: flex;
    justify-content: center;
    width: 638px;
    background: rgba(239, 97, 97, 0.5);
    box-shadow: 6px 5px 5px rgba(98, 112, 241, 0.4);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    position: absolute;
}
main .col:hover > .texto-calzados {
    opacity: 1;
    visibility: visible;
}
main .col .texto-calzados h2 {
    color: azure;
    font-size: 40px;
    display: flex;
    align-items: center;
}


              /*-----SECCION ABRIGOS-----*/

.body-Abrigos {
    background-image: url('../Pre-proyecto-final/media/portada-abrigos.jpg');
    background-size: cover;
}
.seccion-abrigos {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(203, 214, 224);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.seccion-abrigos h2{
    font-size: 40px;
    font-weight: 400;
}
main .col .texto-abrigos {
    display: flex;
    justify-content: center;
    width: 415px;
    background: rgba(91, 229, 225, 0.5);
    box-shadow: 6px 5px 5px rgba(238, 231, 99, 0.4);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    position: absolute;
}
main .col:hover > .texto-abrigos {
    opacity: 1;
    visibility: visible;
}
main .col .texto-abrigos h2 {
    color: azure;
    font-size: 40px;
    display: flex;
    align-items: center;
}

              /*-----SECCION PANTALONES-----*/

.body-jeans {
   background-image: url('../Pre-proyecto-final/media/portada-pantalones.jpg');
   background-size: cover;
 }  
 main .seccion-jeans {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(207, 213, 161);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.seccion-jeans h2{
    font-size: 40px;
    font-weight: 400;
}
main .col .texto-pantalones {
    display: flex;
    justify-content: center;
    width: 415px;
    background: rgba(211, 232, 55, 0.5);
    box-shadow: 6px 5px 5px rgba(191, 64, 128, 0.4);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    position: absolute;
}
main .col:hover > .texto-pantalones {
    opacity: 1;
    visibility: visible;
}
main .col .texto-pantalones h2 {
    color: azure;
    font-size: 40px;
    display: flex;
    align-items: center;
}
              /*-----SECCION REMERAS-----*/
             
.body-remeras {
    background-image: url('../Pre-proyecto-final/media/led.jpg');
    background-size: cover;
}  
main .seccion-remeras {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(233, 52, 52);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.seccion-remeras h2{
    font-size: 40px;
    font-weight: 400;
}
main .col .texto-remeras {
    display: flex;
    justify-content: center;
    width: 631px;
    background: rgba(211, 232, 55, 0.5);
    box-shadow: 6px 5px 5px rgba(191, 64, 128, 0.4);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    position: absolute;
}
main .col:hover > .texto-remeras {
    opacity: 1;
    visibility: visible;
}
main .col .texto-remeras h2 {
    color: azure;
    font-size: 40px;
    display: flex;
    align-items: center;
}
               /*------SECCION CORREO------*/
     
   .body-correo {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../segunda-entrega-final/media/mailbox-g523efffa6_1920.jpg);
}
.titulo-consulta {
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    font-size: 40px;
    color: #9cf1ff;
}    
           
.body-correo .container {
    width: 550px;
    height: 480px;
    margin-top: 250px;
    background-image: radial-gradient(circle at 76.81% 107.48%, #9f4ff4 0, #7944f3 25%, #3c3cf2 50%, #0037f1 75%, #0034ef 100%);
    border-radius: 15px;
    font-size: 18px;
    padding: 30px;
    box-shadow: 7px 13px 37px #000;
}
.nombre {
    width: 100%;
    font-size: 20px;
    border-color: #9df2f2;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0037f1;
    border-radius: 10px;
}
.apellido {
    width: 100%;
    font-size: 20px;
    border-color: #9df2f2;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0037f1;
    border-radius: 10px;
}
.correo {
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #9df2f2;
    background-color: #0037f1;
    box-sizing: border-box;
}
.mensaje {
    width: 100%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border-color: #9df2f2;
    background-color: #0037f1;
    height: 250px;
} 
.botones-correo{ 
    display: flex;
  flex-direction: column;
  justify-content: space-around;
 }
     }
     

    