
.body-index {
    background-image: url('../Pre-proyecto-final/media/tienda.jpg');
    background-size: center;
}

.encabezado {
    position: relative;
    top: 150px;
    left: 650px;
    width: 400px;
}

h1 {
   color: coral;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 1200;
   font-style: unset;
   text-shadow: 5px 5px 4px burlywood;
}

.logo {
    width: 1400px;
    height: 250px;
    border: 1800px 200px;
    position: relative;
    bottom: 120px;
    left: 80px;
}

.menu {
    background-color: black;
    border-radius: 30px;
    position: relative;
    bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menu div {
    height: 30px;
    width: 170px;
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border: solid 2px black;
    background-color: rgb(123, 123, 148); 
}
.enlace {
    text-decoration: none;
}
.buscador {
   flex-basis: 490px;
}
.escritura {
    width: 450px;
    height: 25px;
    background-color: rgb(142, 163, 192);
    font-size: 15px;
    position: relative;
    bottom: 4px;
    border: none;
    outline: 0px;
    border-radius: 15px;
}
.buscador-ajustes {
    border: none;
    border-radius: 30px;
}
.boton-buscar {
    width: 20px;
    height: 20px;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main div {
    position: relative;
    height: 450px;
    width: 400px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 25px 25px 15px rgba(227, 167, 167, 0.5);
    cursor: pointer;
}
.formato-imagen {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

main .formal .texto-formal {
    position: relative;
    bottom: 489px;
    right: 19px;
    width: 100%;
    height: 100%;
    background: rgba(126, 214, 151, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
main .formal:hover > .texto-formal {
    opacity: 1;
    visibility: visible;
}
main .formal .texto-formal h2 {
    color: azure;
    font-size: 40px;
    position: relative;
    top: 150px;
}

main .informal .texto-informal {
    position: relative;
    bottom: 489px;
    right: 19px;
    width: 100%;
    height: 100%;
    background: rgba(126, 214, 151, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
main .informal:hover > .texto-informal {
    opacity: 1;
    visibility: visible;
}
main .informal .texto-informal h2 {
    color: azure;
    font-size: 40px;
    position: relative;
    top: 150px;
}

.tabla-index {
    position: relative;
    left: 1370px;
    color: red;
}

               /* -----SECCION CALZADOS-----*/

.body-calzados {
    background-image: url('../Pre-proyecto-final/media/portada-calzados.jpg');
    background-size: cover;
}
main .seccion-calzados {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: maroon;
    font-weight: normal;
    position: absolute;
    bottom: 350px;
    left: 700px;
}

main .zapatillas .texto-formal {
    position: relative;
    bottom: 489px;
    right: 19px;
    width: 100%;
    height: 100%;
    background: rgba(147, 117, 164, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
main .zapatillas:hover > .texto-formal {
    opacity: 1;
    visibility: visible;
}
main .zapatillas .texto-formal h2 {
    color: azure;
    font-size: 40px;
    position: relative;
    top: 150px;
}

main .zapatos .texto-informal {
    position: relative;
    bottom: 489px;
    right: 19px;
    width: 100%;
    height: 100%;
    background: rgba(147, 117, 164, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
main .zapatos:hover > .texto-informal {
    opacity: 1;
    visibility: visible;
}
main .zapatos .texto-informal h2 {
    color: azure;
    font-size: 40px;
    position: relative;
    top: 150px;
}
              /*-----SECCION ABRIGOS-----*/

.body-Abrigos {
    background-image: url('../Pre-proyecto-final/media/portada-abrigos.jpg');
    background-size: cover;
}
main .seccion-abrigos {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(13, 49, 81);
    font-weight: normal;
    position: absolute;
    bottom: 350px;
    left: 700px;
}

main .gabardinas .texto-formal {
    position: relative;
    bottom: 489px;
    right: 19px;
    width: 100%;
    height: 100%;
    background: rgba(165, 168, 110, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
main .gabardinas:hover > .texto-formal {
    opacity: 1;
    visibility: visible;
}
main .gabardinas .texto-formal h2 {
    color: azure;
    font-size: 40px;
    position: relative;
    top: 150px;
}

main .swetters .texto-swetters {
    position: relative;
    bottom: 489px;
    right: 19px;
    width: 100%;
    height: 100%;
    background: rgba(165, 168, 110, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
main .swetters:hover > .texto-swetters {
    opacity: 1;
    visibility: visible;
}
main .swetters .texto-swetters h2 {
    color: azure;
    font-size: 40px;
    position: relative;
    top: 150px;
}

main .buzos .texto-buzos {
    position: relative;
    bottom: 489px;
    right: 19px;
    width: 100%;
    height: 100%;
    background: rgba(165, 168, 110, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
main .buzos:hover > .texto-buzos {
    opacity: 1;
    visibility: visible;
}
main .buzos .texto-buzos h2 {
    color: azure;
    font-size: 40px;
    position: relative;
    top: 150px;
}
              /*-----SECCION PANTALONES-----*/

.body-jeans {
   background-image: url('../Pre-proyecto-final/media/portada-pantalones.jpg');
   background-size: cover;
 }  
 
 main .seccion-jeans {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(142, 52, 52);
    font-weight: normal;
    position: absolute;
    bottom: 350px;
    left: 700px;
}
 main .chino .texto-chinos {
    position: relative;
    bottom: 489px;
    right: 19px;
    width: 100%;
    height: 100%;
    background: rgba(43, 194, 213, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
main .chino:hover > .texto-chinos {
    opacity: 1;
    visibility: visible;
}
main .chino .texto-chinos h2 {
    color: azure;
    font-size: 40px;
    position: relative;
    top: 150px;
}

main .jeans .texto-jeans {
    position: relative;
    bottom: 489px;
    right: 19px;
    width: 100%;
    height: 100%;
    background: rgba(43, 194, 213, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
main .jeans:hover > .texto-jeans {
    opacity: 1;
    visibility: visible;
}
main .jeans .texto-jeans h2 {
    color: azure;
    font-size: 40px;
    position: relative;
    top: 150px;
}

main .bermudas .texto-bermudas {
    position: relative;
    bottom: 489px;
    right: 19px;
    width: 100%;
    height: 100%;
    background: rgba(43, 194, 213, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
main .bermudas:hover > .texto-bermudas {
    opacity: 1;
    visibility: visible;
}
main .bermudas .texto-bermudas h2 {
    color: azure;
    font-size: 40px;
    position: relative;
    top: 150px;
}
              /*-----SECCION REMERAS-----*/
             
.body-remeras {
    background-image: url('../Pre-proyecto-final/media/led.jpg');
    background-size: cover;
}  
main .seccion-remeras {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(100, 152, 171);
    font-weight: normal;
    position: absolute;
    bottom: 350px;
    left: 550px;
}

main .remeras .texto-remeras {
    position: relative;
    bottom: 489px;
    right: 19px;
    width: 100%;
    height: 100%;
    background: rgba(219, 59, 59, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
main .remeras:hover > .texto-remeras {
    opacity: 1;
    visibility: visible;
}
main .remeras .texto-remeras h2 {
    color: azure;
    font-size: 40px;
    position: relative;
    top: 150px;
} 
main .Camisas .texto-Camisas {
    position: relative;
    bottom: 489px;
    right: 19px;
    width: 100%;
    height: 100%;
    background: rgba(219, 59, 59, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
main .Camisas:hover > .texto-Camisas {
    opacity: 1;
    visibility: visible;
}
main .Camisas .texto-Camisas h2 {
    color: azure;
    font-size: 40px;
    position: relative;
    top: 150px;
}